/* CSS BY (Meseret Haile) */


/* IMPORTED FONTS */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/*CSS RESET*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ROOT VARIABLES */
:root{
    --midnight-blue: #1F2A44;
    --olive-green: #76885B;
    --champagne-gold: #E5C185;
    --linen: #F8F4EC;
    --dark-charcoal: #2B2B2B;
    --soft-white: #FAF9F6;
}

/* GLOBAL STYLES */

body {
    margin: 0 auto; 
    width: 100%;
    max-width: 450px;
    font-family: Playfair Display;
    line-height: 1.6;
    background-color: var(--dark-charcoal);
}
main{
    background-color: var(--soft-white);
}

main > section {
    margin: 0 auto;
    padding: 0 1.25rem;
}

header{
    margin: 0 auto; 
    background-color: var(--midnight-blue);   
    text-align: center;  
    padding: 20px 0;

}
h1{
    font-size: 3rem;
    font-weight: bold;
    color: var(--soft-white);
}

header h3{
    color: var(--soft-white);
    font-style: italic;
}

nav {
    background-color: var(--champagne-gold);
    color: var(--midnight-blue);
}
  
nav ul {
    display: flex;
    justify-content: space-around;
    padding: 10px 15px;
}

nav li {
    font-size: 1.2rem;
    font-weight: bold;
}

main section {
    padding-top: 1rem;
    
}
  
main section:first-of-type {
    padding-top: 2.5rem;
}

hr{
    border: none;
    height: 2px;
    margin-top: 1.5rem;         
    background-color: var(--champagne-gold)   
}

h2 {
    font-size: 1.7rem;
    margin-bottom: 0.2rem;
    color: var(--color-text-main);
}
  
h3 {
font-size: 1.2rem;
margin-top: 1.2rem;
}

p {
    color: var(--color-text-muted);
    font-size: 0.95rem;
    margin-bottom: 0.9rem;
  }

  .offerings {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.25rem;
    margin-top: 1.5rem;
  }

  .offerings div {
    background-color: var(--olive-green);
    color: #ffffff;
    padding: 0.2rem 1.1rem 0.2rem;
    border-radius: 8px;
  }
  .offerings h3{
    font-size: 1.5rem;
    font-style: normal;
    font-weight: bold;
}
.gallery img{
    width: 100%; 

}
.gallery{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin-top: 1.7rem;
}

.gallery div{
    background-color: var(--soft-white);
    border-radius: 15px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.12);
    overflow: hidden;
  }
  .gallery p{
    text-align: center;
    font-style: italic;
  }
  
/*main{
    padding: 10px;
    
}
main > section{
    display: block;
    padding-top: 30px;
    background-color: red;
}

p{
    color: var(--dark-charcoal);
    font-size: 1rem;
}



main section h2 {
    font-size: 1.7rem;
    text-align: left;

}

.offerings{
    display: block;
    
    background-color: var(--olive-green);

    border-radius: 5px;
    display:block;
    
    color: var(--linen);
    text-decoration:none;
    padding:1rem;
    text-align:left;
    margin:1rem;
    
}
.offerings p{
    color: var(--linen);
}
.offerings h3{
    font-size: 1.5rem;
    font-style: normal;
    font-weight: bold;
}
.offerings li{
    list-style-type: circle;
}
div img{
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
  column-gap: 20px;
  margin: 0 auto;
  border-radius: 5px;
}

img {
    max-width: 100%;
    height: auto;
    display: block; 
    margin: 0 auto;
  }
  .img{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    width: 400px;
    
  } */